<div ng-controller="product_controller">
    <h2 class="text-center">Add Product</h2>
    <div class="col-8 offset-2">
        <form name="form_product">
            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="name" ng-model="product.name">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" ng-model="product.price">
            </div>
            <div class="mb-3" ng-controller="category_getList">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" ng-model="product.category">
                    <option value="" disabled selected>-- select a category --</option>
                    <option ng-repeat="category in listCategory | filter: {status: true}" value="{{ category.id }}">
                        {{ category.name }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Product Image</label>
                <input type="file" class="form-control" id="myFileInput" ng-model="product.image"/>
                <!-- <input type="text" class="form-control mt-3 " ng-model="product.image" id="myTextInput" /> -->
                <!-- <button class="btn btn-success mt-3" ng-click="showUrl()">Show url</button> -->
            </div>


            <div class="row">
                <div class="form-check col-6">
                    <input class="form-check-input ms-5" value="true" type="radio" name="flexRadioDefault" id="rdoTrue"
                        ng-model="status" ng-checked="product.status == true" required>
                    <label class="form-check-label ms-2" for="flexRadioDefault1">
                        Đang hoạt động
                    </label>
                </div>
                <div class="form-check col-6">
                    <input class="form-check-input" value="false" type="radio" name="flexRadioDefault" id="rdoFalse"
                        checked ng-model="product.status" ng-checked="status == false" required>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Ngừng hoạt động
                    </label>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-success mt-4 col-4 offset-4" ng-click="save($event)">Submit
                </button>
                <button class="btn btn-danger mt-4 col-2 offset-2" ng-click="clear($event)">Clear Form</button>
            </div>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Name Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>URL</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in listProduct">
                    <td>{{ $index+1 }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category}}</td>
                    <td>{{ product.status ? 'Đang Hoạt Động' : 'Ngừng Hoạt Động' }}</td>
                    <td>{{ product.image}}</td>
                    <td>
                        <button class="btn btn-primary" href="#" ng-click="btnUpdateOnClick($event, $index)">
                            Update
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete($event, $index)" href="#">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>