<footer class="row mt-5 ">
    <div class="row">
        <div>
            <p class="mt-3 ms-4"><img src="/img/logo_foot.png" alt="innisfree"></p>
            <div class="row col-7 ms-4 ">
                <a href="https://innisfreevietnam.co/2Ab0EGA" class="facebook col-1">
                    <img src="/img/fb.png" class="img-fluid" alt="">
                </a>
                <a href="https://www.instagram.com/innisfreevietnam/?hl=vi" class="instagram col-1">
                    <img src="/img/ig.png" class="img-fluid" alt="">
                </a>
                <a href="https://innisfreevietnam.co/3eBPmud" class="youtube col-1">
                    <img src="/img/youtube.png" class="img-fluid " alt="">
                </a>
                <a href="https://innisfreevietnam.co/3awmEtB" class="zalo col-1">
                    <img src="/img/zalo.png" class="img-fluid " alt="">
                </a>
                <div class="col-7">
                    <p class="float-end">ⓒ 2020 innisfree Inc. <br>All rights reserved.</p>
                </div>
            </div>
            <hr>
            <ul class="row col-11 list-unstyled ms-4">
                <li class="col-3">
                    <a class="text-decoration-none  text-white fs-6">Chính sách giao hàng và
                        thanh toán</a>
                </li>
                <li class="col-3">
                    <a class="text-decoration-none text-white ">|</a>
                    <a href="" class="text-decoration-none background: text-white  ">Chính sách bảo mật thông tin
                        khách hàng</a>
                </li>
                <li class="col-2">
                    <a href="" class="text-decoration-none text-white ">|</a>
                    <a href="" class="text-decoration-none text-white">Chính sách mua hàng</a>
                </li>
                <li class="col-2">
                    <a class="text-decoration-none text-white ">|</a>
                    <a href="" class="text-decoration-none  text-white">Chính sách trả hàng</a>
                </li>
            </ul>
            <ul class="row list-unstyled ms-4">
                <li>
                    Thời gian làm việc
                    <span>: Thứ 2 ~ Thứ 6 09:00 ~ 17:00 (trừ Thứ 7, Chủ Nhật và ngày lễ)</span>
                </li>
                <li>
                    Tư vấn khách hàng
                    <a href="tel:02838279777" class="text-decoration-none text-white">: 028 3827 9777</a>
                </li>
                <li>
                    Email
                    <span><a href="mailto:cs_vn@innisfree.com" class="text-decoration-none text-white">:
                            cs_vn@innisfree.com</a></span>
                </li>
                <li>CÔNG TY TNHH AMOREPACIFIC VIỆT NAM</li>
                <li>GIẤY CNĐKDN: 0309984165 - Ngày cấp: 05/05/2010, được sửa đổi lần thứ 21, ngày 04/04/2022</li>
                <li>Địa chỉ đăng ký kinh doanh: Lầu 4A, Toà nhà Vincom, 72 Lê Thánh Tôn, Phường Bến Nghé, Quận 1,
                    Tp. Hồ Chí Minh, Việt Nam.</li>
            </ul>
        </div>
</footer>