<div ng-controller="loginCtrl">
  <h2 class="mt-4 container">
    Đăng nhập hoặc đăng ký thành viên
  </h2>
  <hr>
  <div class="container">
    <div class="timeline ">
      <div class="row">
        <div class="col-6 text-center mt-5 ">
          <h3>Đăng nhập thành viên</h3>
          <div class="input-group mb-3 pe-5">
            <input type="text" class="form-control" placeholder="ex: 0582434619/phamlequyenanh1308@gmail.com"
              aria-label="Username" ng-model="username">

          </div>
          <div class="input-group mb-3 pe-5">
            <input type="password" class="form-control" placeholder="Vui lòng nhập mật khẩu" aria-label="Password"
              ng-model="password">
          </div>
          <p class="float-end">
            <a href="#" class="text-success text-decoration-none pe-5 " data-bs-toggle="modal"
              data-bs-target="#exampleModal">Bạn quên mật khẩu?</a>
            <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true " bsModal #myModal="bs-modal" [config]="{backdrop: 'static'}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <h5 class="modal-title" id="forgotPasswordModalLabel">Quên mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="phone">
                      <label class="form-check-label" for="phone">Gửi mã xác nhận qua số điện thoại</label>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="emailCheckbox">
                      <label class="form-check-label" for="emailCheckbox">Gửi mã xác nhận qua email</label>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="row mb-3">
                      <div class="col-8">
                        <input type="email" class="form-control" placeholder="Nhập địa chỉ email">
                      </div>
                      <div class="col-4">
                        <button type="button" class="btn btn-primary " (click)="myModal.hide()">Gửi</button>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-8">
                        <input type="email" class="form-control" placeholder="Nhập địa chỉ email">
                      </div>
                      <div class="col-4">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>
          </p>
          <br>
          <button class=" btn btn-success  w-75 h-30 mt-3 fs-4" type="submit" ng-click="login() "
            ng-disabled="frmLogin.$invalid ">Đăng nhập</button>
          <br>
          <div ng-if="message" class="alert {{message.type}}">{{message.text}}</div>
          <p class="fw-semibold mt-2">Đăng nhập nhanh/Đăng ký thành viên bằng tài khoản mạng xã hội:</p>
          <br>
          <a class="btn text-white  " href="#" role="button" style="background-color: #3B5998;">
            <img src="/img/icons8-facebook-30.png" class="img-fluid" alt="">
            Facebook
          </a>
          <a class="btn text-white " href="#" role="button" style="background-color: #EA4335;">
            <img src="/img/icons8-google-30.png" class="img-fluid" alt="">
            Google
          </a>
          <br>
          <span>
            <p> * Có thể đăng nhập nhanh hoặc đăng ký thành viên mới bằng tài khoản mạng xã hội.</p>
            <p> * Thành viên Innisfree chưa liên kết với tài khoản mạng xã hội có thể đăng nhập và thiết lập liên kết
              một cách nhanh chóng</p>
          </span>

        </div>

        <div class=" col-5 text-center ps-5 mt-5 ">
          <h3>Đăng ký thành viên mới</h3>
          <br>
          <span class="ms-3">Đăng ký ngay để mua sắm dễ dàng hơn và tận hưởng thêm nhiều ưu đãi độc quyền cho thành viên
            innisfree.</span>
          <br>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
            Đăng ký tài khoản
          </button>

          <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel"
            aria-hidden="true" ng-app="myApp" ng-controller="registerCtrl">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="registerModalLabel">Đăng ký tài khoản</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="usernameInput" class="form-label">Tên đăng nhập</label>
                      <input type="text" class="form-control" id="usernameInput" ng-model="usernameRegister">
                    </div>
                    <div class="mb-3">
                      <label for="passwordInput" class="form-label">Mật khẩu</label>
                      <input type="password" class="form-control" id="passwordInput" ng-model="passwordRegister">
                    </div>
                    <div class="mb-3">
                      <label for="confirmPasswordInput" class="form-label">Xác nhận mật khẩu</label>
                      <input type="password" class="form-control" id="confirmPasswordInput" ng-model="confirmPassword">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                  <button type="button" class="btn btn-primary" ng-click="register()">Đăng ký</button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>