<body>
    <div class="container">
         <!-- header -->
    <ng-include src="'/View/header.html'"></ng-include>

    <!-- Navbar -->
    <ng-include src="'/View/navbar.html'"></ng-include>
        <!-- Content -->
        <div class="row" ng-controller="productDetailController">
            <div class="col-6">
                <img ng-src="img/{{product.image}}" class="img-fluid" alt="">
            </div>
            <div class="col-6 justify-content-center">
                <h3 class="">{{product.name}}</h3>
                <h3 class="">${{product.price}}</h3>
                <div class="col-3 input-group mb-5 w-50 mt-5">
                    <p class="fw-bold">Số lượng</p>
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control ms-3 me-2" value="1" id="quantity-input" ng-model="quantity">
                    <div class="input-group-append">
                    </div>
                    <p class="text-danger"> còn 10 sản phẩm</p>
                </div>
                <h3 class="fw-bold mt-3 mb-3"></h3>
                  <button class="btn  btn-success  " ng-click="addToCart(product, quantity, $event)">
                     <img src="/img/cart.svg" alt=""> Thêm vào giỏ hàng
                  </button>
                  
            </div>
        </div>

        <h3 class=" fw-bold mt-5 text-center">Các sản phẩm tương tự</h3>
        <div class="row mt-3">
            <div class="card col-md col-12 ms-3">
                <img src="/img/b1.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">SP1</p>
                    <span class=" card text text-center fw-bold">$30</span>
                </div>
            </div>
            <div class="card col-md col-12 ms-3">
                <img src="/img/b1.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">SP1</p>
                    <span class=" card text text-center fw-bold">$30</span>
                </div>
            </div>
            <div class="card col-md col-12 ms-3">
                <img src="/img/b1.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">SP1</p>
                    <span class=" card text text-center fw-bold">$30</span>
                </div>
            </div>
            <div class="card col-md col-12 ms-3">
                <img src="/img/b1.jpg" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <p class="card-text text-center">SP1</p>
                    <span class=" card text text-center fw-bold">$30</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer -->
    <ng-include src="'/View/footer.html'"></ng-include>