<div class="container">
    <!-- header -->
    <ng-include src="'/View/header.html'"></ng-include>

    <!-- Navbar -->
    <ng-include src="'/View/navbar.html'"></ng-include>

    <div class="row">
        <span class="fw-bold text-center mb-3 mt-3">
            <a class="text-decoration-none text-black" href="">Tất cả sản phẩm</a>
        </span>
    </div>

    <div class="row" ng-controller="productController">
        <div class="col-md-2">
            <div class="row" ng-repeat="category in listCategory">
                <span class="mt-5">
                    <a href="" class="text-decoration-none text-black"
                        ng-click="selectCategory(category.id)">{{category.name}}</a>
                </span>
            </div>
        </div>
        <div class="col-md-10">
            <article class="col-12">
                <div class="row">
                    <div class="col-md-3 col-12"
                        ng-repeat="product in listProduct | filter: {category: selectedCategory}">
                        <div class="card ms-3">
                            <img ng-src="img/{{product.image}}" class="card-img-top img-fluid" alt="...">
                            <div class="card-body">
                                <a href="#products/{{product.id}}" class="text-decoration-none fw-bold text-dark">
                                    <p class="card-text text-center ">{{product.name}}</p>
                                </a>
                                <span class="card text text-center fw-bold">${{product.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>

<!-- Footer -->
<ng-include src="'/View/footer.html'"></ng-include>