


    <div class="container">
        <!-- header -->
        <header class="d-flex align-items-center">
            <div class="col-2 mt-3">
                <a class="navbar-brand col-2 fw-bold " href="#index">
                    <img class="img-fluid" src="/img/logo.png" alt="Logo" >
                </a>
            </div>
            <form class="d-flex col-4 mt-3" role="search">
                <input class="form-control" type="search" placeholder="Phiên bản giới hạn mùa lễ hội"
                    aria-label="Search">
            </form>
            <nav class="navbar navbar-expand-lg bg-body-tertiary col-6 d-flex justify-content-end">
                <a class="nav-link active me-3" href="#login">Đăng nhập</a>
                <a class="nav-link active me-3" aria-current="page" href="#pushProduct">Trang của tôi</a>
                <div class="shopping-cart d-flex align-items-center">
                    <img src="/img/icons8-shopping-cart-30.png" alt="Shopping cart">
                    <span class="cart-items ms-2">0</span>
                    <div class="cart-dropdown">
                        <div class="cart-list">
                            <!-- Add your cart items here -->
                        </div>
                        <div class="cart-total">
                            <!-- Add your cart total here -->
                        </div>
                        <a href="#shoppingCart" class="btn btn-primary">Checkout</a>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Content -->
        <hr>
        <div class="row mt-3 mb-3">
            <nav class="navbar navbar-expand-md bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Tất cả</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link " aria-current="page" href="#">Chờ thanh toán</a>
                            <a class="nav-link  " aria-current="page" href="#">Vận chuyển</a>
                            <a class="nav-link  " aria-current="page" href="#">Đang giao</a>
                            <a class="nav-link  " aria-current="page" href="#">Hoàn thành</a>
                            <a class="nav-link  " aria-current="page" href="#">Đã Huỷ</a>
                            <a class="nav-link  " aria-current="page" href="#">Trả hàng/Hoàn tiền</a>
                        </div>
                    </div>
                </div>
            </nav>
            <hr>
        </div>
    </div>
    <!-- Footer -->
    <ng-include src="'/View/footer.html'"></ng-include>

