
    <div class="container" ng-controller="cartController">
          <!-- header -->
    <ng-include src="'/View/header.html'"></ng-include>

    <!-- Navbar -->
    <ng-include src="'/View/navbar.html'"></ng-include>
        <!-- Content -->
        <div class="card mb-2" ng-repeat="cart in carts">
            <div class="card-header">
                <span id="deal">Deal Sốc</span>
                <span class="fw-bold">Mua kèm deal độc quyền</span>
                <a href="#" class="text-decoration-none text-danger">Thêm</a>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-1">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck{{$index}}">
                        <img ng-src="img/{{products[cart.idProduct-1].image}}" class="img-fluid d-flex" alt="Ảnh sản phẩm">
                    </div>
                    <div class="col-md-3 col-7">
                        <a href="#" class="text-decoration-none text-black" id="textProduct">{{products[cart.idProduct-1].name}}</a>
                        <br>
                        <img src="/img/freeShip.png" class="img-fluid" alt="Miễn phí vận chuyển">
                        <br>
                        <img src="/img/7.png" class="img-fluid " alt="Miễn phí vận chuyển">
                        <span id="textProduct">7 ngày miễn phí trả hàng</span>
                    </div>
                    <div class="col-md-1 col-2">
                        <span id="priceProduct" class="text-center">{{products[cart.idProduct-1].price | currency:"đ"}}</span>
                    </div>
                    <div class="col-md-2 col-3">
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{cart.quantity}}" id="quantity-input" disabled>
                        </div>
                    </div>
                    <div class="col-md-1 col-2">
                        <span class="text-center text-truncate text-danger" >{{cart.quantity * products[cart.idProduct-1].price | currency:"đ"}}</span>
                    </div>
                    <div class="col-md-1 col-2">
                        <button class="btn btn-sm border-1">Xoá</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-8 offset-2">
            <button class="btn text-white btn-success float-end" >
                <img src="/img/cart.svg" alt="">
                Mua hàng
            </button>
        </div>
      
     </div>
  
    <!-- Footer -->
    <ng-include src="'/View/footer.html'"></ng-include>
